@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-retro-bg: #EAD7C3;
  --color-retro-card: #F3EBE1;
  --color-retro-primary: #8B9D83;
  --color-retro-secondary: #C57B57;
  --color-retro-text: #3C3228;
}

body {
  background-color: var(--color-retro-bg);
  color: var(--color-retro-text);
  font-family: var(--font-sans);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
.pt-safe {
  padding-top: env(safe-area-inset-top);
}

